$color-dark: #098019;
$color-light: #EBF5EE;
$color-hover: #065b12;
$color-active: #043e0c;
$color-gray: #212221;
$menu-color: #FFFFFF;
$color-gray-opacity: rgba(33, 34, 33, 0.80);
$radius: 4px;
$max-width: 1200px;
$font-family: sans-serif;
$cursor-hover: pointer;
$transition-time: 0.1s;