$font: 'Roboto';
$transition: 0.2s;
$radius: 4px;
$color-main: #FFFFFF;
$color-one: #1F2421;
$color-two: #EBF5EE;
$color-three: #72A1E5;
$color-four: #CD8987;
$color-five: #A5CAAA;
$color-one-opacity: rgba(31, 36, 33, 0.8);
$game-color-one: #66BDBA;
$game-color-two: #3AACC2;
$game-color-three: #1E3650;
$game-color-four: #C4BF80;
$game-color-five: #DEF1EE;