@import 'variables';

.main {
	width: 100%;
	display: flex;
	justify-content: center;

	&__content-container {
		width: 100%;
		max-width: 1340px;
	}

	&__description-container {
		padding: 20px 40px;
		font-size: 18px;

		h3 {
			font-size: 24px;
			margin: 6px 20px;
		}

		h4 {
			font-size: 20px;
			margin: 4px 10px;
		}

		a {
			color: $color-three;
			transition: $transition;
			opacity: 0.7;
	
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media (max-width: 768px) {
	.main {
		&__description-container {
			padding: 16px 18px;

			h3 {
				margin: 6px 16px;
			}

			h4 {
				margin: 4px 8px;
			}
		}
	}
}

@media (max-width: 320px) {
	.main {
		&__description-container {
			padding: 12px 12px;
			font-size: 16px;

			h3 {
				margin: 4px 12px;
				font-size: 20px;
			}

			h4 {
				margin: 2px 6px;
				font-size: 18px;
			}
		}
	}
}

.d-none {
	display: none;
}