@import 'variables';

.model {
	min-width: 100vw;
	min-height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	background-color: $game-color-two;
	overflow: hidden;

	&__menu-container {
		position: fixed;
		top: 0px;
		left: 100vw;
		bottom: 0px;
		background-color: $game-color-one;
		width: 100%;
		max-width: 768px;
		height: 100vh;
		transition: $transition;
		overflow-y: scroll;
	}

	&__transformed-menu {
		transform: translateX(-100%);
	}

	&__open-menu-button {
		position: fixed;
		padding: 6px;
		top: 14px;
		right: 14px;
		min-width: 18px;
		height: 30px;
		object-fit: cover;
		font-size: 12px;
		transition: $transition;

		&:hover {
			cursor: pointer;
		}
	}

	&__close-menu-button {
		position: sticky;
		background-color: $game-color-one;
		top: 0px;
		font-size: 18px;
		font-weight: 700;
		padding: 20px;
		user-select: none;
		color: $game-color-three;
		border-bottom: 1px solid $game-color-three;
		display: flex;
		justify-content: space-between;

		&:hover {
			cursor: pointer;
		}

		p {
			color: $game-color-three;
		}
	}

	&__menu-content-container {

		h3 {
			padding: 12px 0px;
			color: $game-color-three;
		}

		h4 {
			padding: 12px 0px;
			color: $game-color-three;
		}

		p {
			padding: 12px 0px;
			color: $game-color-three;
		}
	}

	&__canvas-container {
		width: 100vw;
		height: 100vh;
		display: block;
		border: none;
	}
}